  
/* #33393D  #FFCD24  #2AABE4  #9DC8E4  #666B6E*/

.navbar {
    overflow: hidden;
    background-color: #666B6E;
    top: 0;
    margin: 5px;
  }

  .navbar li {
    float: right;
    display: block;
    padding: 10px 10px 0px 10px;
  }
  .navbar li a {
    color: #9dc8e4;
    text-align: center;
  }

  h1, h3, p {
    text-align: center;
    width: 100%;
    color: #33393D;
    margin: 3px;
  }

  p::first-letter {
    font-size: 150%;
    color: #FFCD24;
  }
  

  .main {
    height: 500px;
    background-color: #2AABE4;
    display: flex;
    align-items: center;
    margin: 5px;
   }

   @media screen and (min-width: 1200px){
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
    }
   }
 
   @media screen and (min-width: 400px max-width: 1199px){
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3px;
    }
   }

   @media screen and (max-width: 399px){
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1px;
    }
    p {
      font-size: 10px;
    }
    .navbar {
      margin: 0px;
    }
  
    .navbar li {
      padding: 0px 5px 0px 0px;
    }
   }

   .grid-container > .item-group1 {
    height: 300px;
    background-color: #9dc8e4;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 24px;
    margin: 5px;
   }

  .item-group2 {
    height: 300px;
    background-color: #9dc8e4;
    align-items: center;
    justify-content:center;
    padding: 10px;
    margin: 5px;
   }
   .row div a {
     color: #2AABE4;
     text-decoration: none;
   }

   #logo {
     float: left;
     height: 75px;
     padding-left: 15px;
   }

   .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    color: #33393D;
    text-align: center;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #FFCD24;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #FFCD24;
  }

  #contact {
    padding: 5px;
  }

  .container {
    width: 40%;
    padding: 20px;
  }

  #restaurant {
    max-height: 400px;
    max-width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  @media screen and (max-width: 1199px){
    div.item-group2 > p {
      font-size: 14px;
    }
  }