{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="main">
    <p> Hello, my name is <a href="https://www.linkedin.com/in/jin-c-45345922/">Jin</a>. 
        I run this little company trying to bring more data & analytics (or AI as some now calls it) benefits into small businesses such as yours.<br>
        I was previously managing the development of data-driven insurance product recommendation for small businesses at <a href="https://digitalfineprint.com">Digital Fineprint</a> - a fast growing InsurTech startup. <br>
        Prior to that, I spent a few years plying my trade at a couple of <a href="https://www.strategyand.pwc.com/">consulting firms</a> offering data science insights to enterprises across Europe. <br>
        Last but not least, I used to be a football analyst, using machine learning to predict game results and player performance.<br><br>
        I have a firm believe in the power of technology - a repeatable, robust and intelligent solution can help businesses realise significant benefits such as increase revenue and reduce cost.<br>
        Many of such solutions are not readily accessible or even meaningful to small businesses. That's why I am here to help.
    </p>
</div>
{% endblock %}