{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <div class="main">
            <h1>Delicious and affordable data & analytics service for restaurants.</h1>
        </div>
        <div class="row">
            <div title="Click to find out more"><a href="/what">Procurement & Food waste</a></div>
            <div title="Click to find out more"><a href="/what">Marketing & Branding</a></div>
            <div title="Click to find out more"><a href="/what">Price & Promotion</a></div>
            <div title="Click to find out more"><a href="/what">Human resource</a></div>
        </div>
{% endblock %}