{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <div class="main">
            <h1>Affordable data & analytics service for restaurants.</h1>
        </div>
            <div class="grid-container">
            <div class="item-group1" title="Click to find out more"><a href="/what">Supply chain</a></div>
            <div class="item-group1" title="Click to find out more"><a href="/what">Marketing & Branding</a></div>
            <div class="item-group1" title="Click to find out more"><a href="/what">Price & Promotion</a></div>
            <div class="item-group1" title="Click to find out more"><a href="/what">Human resource</a></div>
        </div>
{% endblock %}