<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AnaTech</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div>
                <a><img id="logo" src="static/logo.png"></a>
            </div>
            <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/what">Case studies</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <main class="w3-container">
            {% block main %}{% endblock %}
        </main>
        <footer class="footer">
            <p>UK registered company: #11657707</p>
        </footer>
    </body>
</html>