<!DOCTYPE html>
<html>
    <head>
        <title>my website</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="navbar">
            <div>
                <a><img id="logo" src="static/logo.png"></a>
            </div>
            <ul>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/what.html">Case studies</a></li>
                <li><a href="/who.html">About</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <main class="w3-container">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>