{% extends "layout.html" %}

{% block title %}
    Case Studies
{% endblock %}

{% block main %}
<div class="grid-container">
    <div class="item-group2">
        <h3>
            Supply chain
        </h3><br>
        <p>
            Food waste is a significant cost item for restaurant business. It is estimated that X% of operating cost is related to food waste - a total of £xbn annually just in the UK. <b>How much money can you save from food waste?</b>
        </p>
    </div>
    <div class="item-group2">
        <h3>
            Marketing & Branding
        </h3><br>
        <p>
            Social media has become the most effective channel to engaging with your potential customers. Instagram and Facebook are 2 of the most effective channels for generating leads. <b>What is your current customer engagement plan?</b>
        </p>
    </div>
    <div class="item-group2">
        <h3>
            Price & Promotion
        </h3><br>
        <p>
            It is often true that if you reduce item price, you get increase in demand. However, overall the increased demand doesn't always offset the price reduction. Further more, it might even cannibalised your other more profitable items. <b>How would you optimise your pricing and discounting?</b>
        </p>
    </div>
    <div class="item-group2">
        <h3>
            Human resource
        </h3><br>
        <p>
            It is estiamted that a motivated staff increases return by y%. They are not always driven by pay. Large enterprises are using data & analtyics to learn how to better motivate their staff. <b>What positive impact might it have on your business?</b>
        </p>
    </div>
</div>
<div>
    <img src="/static/restaurant.jpg" id="restaurant">
</div>
{% endblock %}